openapi: 3.1.0
info:
  title: Extractor de documentos
  version: "1.0.0"
servers:
  - url: https://apis.ecorpa.com
security:
  - bearerAuth: []
paths:
  /v2/extractor-documentos/documento-identidad:
    post:
      operationId: enviarDocumentoIdentidad
      summary: Enviar documento de identidad
      description: Envía de 1 a 5 PDF y recibe un IdSolicitud. En el playground agregas cada archivo a la lista. En la integración, el JSON lleva Documentos y cada Archivo en base64.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - Archivo
              properties:
                Archivo:
                  type: array
                  minItems: 1
                  maxItems: 5
                  description: Lista de 1 a 5 PDF. Cada uno pesa máximo 2 MB.
                  items:
                    type: string
                    format: binary
                    contentMediaType: application/pdf
                Referencia:
                  type: array
                  maxItems: 5
                  description: Una por PDF, en el mismo orden. Hasta 120 caracteres. Opcional.
                  items:
                    type: string
                    maxLength: 120
      responses:
        "200":
          description: Solicitud recibida.
          content:
            application/json:
              schema:
                type: object
                properties:
                  Success:
                    type: boolean
                    description: true si la solicitud quedó registrada.
                  Message:
                    type: string
                  Data:
                    type: object
                    properties:
                      IdSolicitud:
                        type: string
                        description: UUID para el GET y para el aviso.
                      Total:
                        type: integer
                      Documentos:
                        type: array
                        items:
                          type: object
                          properties:
                            Referencia:
                              type: string
                            Estado:
                              type: string
                              description: En el POST siempre es procesando.
              example:
                Success: true
                Message: Su solicitud fue recibida y está en proceso.
                Data:
                  IdSolicitud: f76d9c31-813c-4346-b0ec-f94b9f25a01c
                  Total: 2
                  Documentos:
                    - Referencia: cedula-1
                      Estado: procesando
                    - Referencia: cedula-2
                      Estado: procesando
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: API key con prefijo ecorpa_key_.
